.mission-body {
  background: rgb(169, 234, 238);
  background: linear-gradient(
    180deg,
    rgba(169, 234, 238, 1) 0%,
    rgba(243, 254, 250, 1) 34%,
    rgba(244, 254, 246, 1) 67%,
    rgba(176, 235, 239, 1) 100%
  );
  width: 100%;
  height: 100vh;
}
